.row-img {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
  }

  .image-view {
    border-radius: 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 20%;
    max-width: 25%;
    padding: 0 4px;
    width: 25%;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  } 
.image-description{
  padding-bottom: 1px;
  margin-bottom: -1px;
  box-sizing: border-box;
  break-inside: avoid;  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(250,250,250);
  border-radius: 4px;
}
.image-description p{
  font-weight: bold;
  color: #111;
  display: block;
  font-family: sans-serif
}

.image {
  display: block;
  width: 100%;
  height: auto;
  }
  
  .overlay {
    padding-bottom: 1px;
    margin-bottom: -1px;
    box-sizing: border-box;
    break-inside: avoid;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(150,80,80);
    border-radius: 4px;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
